---
import '../styles/base.css';
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
import List from '../components/List.astro';

---
<Layout title="Swarm Foundation’s Link Hub">
  <main class="pt-12 pb-24 md:pb-48 text-[19px] leading-[26px] text-[#F6F7F9]">

		<div class="flex justify-center"><a href="https://www.ethswarm.org/"><img src="/swarm.png" alt="" class="h-12" /><div class="sr-only">Swarm</div></a></div>

		<div class="max-w-2xl mx-auto px-5 lg:px-6 pt-20 pb-12 md:pt-28 md:pb-24">
      <div class="text-center">

        <p>Swarm is a decentralised data storage and distribution technology. Ready to power the next generation of censorship-resistant, unstoppable, serverless dapps.</p>

      </div>
		</div>

    <div class="max-w-lg mx-auto px-5 lg:px-6 flex flex-col gap-12">
      <List>
          <LinkCard title="Website" description="Future storage. Now." image="/icons/swarm.png" href="https://www.ethswarm.org/" />
          <LinkCard title="Swarm News" image="/icons/swarm.png" href="https://blog.ethswarm.org/" />
          <LinkCard title="Documentation" image="/icons/swarm.png" href="https://docs.ethswarm.org/" />
          <LinkCard title="Bee-JS Documentation" image="/icons/swarm.png" href="https://bee-js.ethswarm.org/docs/" />
          <LinkCard title="GitHub" image="/icons/github.jpeg" href="https://github.com/ethersphere" />
          <LinkCard title="Main Papers" image="/icons/swarm.png" href="https://papers.ethswarm.org/" />
      </List>

      <List title="Swarm Apps">
          <LinkCard title="Swarm Desktop App" image="/icons/swarm.png" href="https://desktop.ethswarm.org/" />
          <LinkCard title="Swarm Multichain App (beta)" image="/icons/swarm.png" href="https://app.ethswarm.org/" />
      </List>

      <List title="Network">
          <LinkCard title="Network status" image="/icons/swarm.png" href="https://network.ethswarm.org/" />
          <LinkCard title="Network scanner" image="/icons/swarm.png" href="https://swarmscan.io/" />
      </List>

      <List title="Social Media">
          <LinkCard title="X" image="/icons/x.png" href="https://twitter.com/ethswarm" />
          <LinkCard title="Discord" image="/icons/discord.png" href="https://discord.com/invite/hyCr9BMX9U" />
          <LinkCard title="Reddit" image="/icons/reddit.png" href="https://reddit.com/r/ethswarm" />
          <LinkCard title="YouTube" image="/icons/youtube.png" href="https://www.youtube.com/channel/UCu6ywn9MTqdREuE6xuRkskA/videos" />
      </List>

      <List title="DEXs">
          <LinkCard title="Uniswap (ETH)" image="/icons/uniswap.png" href="https://app.uniswap.org/swap?chain=ethereum&inputCurrency=ETH&outputCurrency=0x19062190B1925b5b6689D7073fDfC8c2976EF8Cb" />
          <LinkCard title="Cowswap (xDAI)" image="/icons/cowswap.png" href="https://swap.cow.fi/#/100/swap/WXDAI/BZZ" />
          <LinkCard title="Jumper Bridge (any)" image="/icons/jumper.png" href="https://jumper.exchange/es?fromChain=1&fromToken=0xdAC17F958D2ee523a2206206994597C13D831ec7&toChain=100&toToken=0xdBF3Ea6F5beE45c02255B2c26a16F300502F68da" />
      </List>

      <List title="CEXs">
        <LinkCard title="MEXC" image="/icons/MEXC.png" href=https://www.mexc.com/exchange/BZZ_USDT" />
        <LinkCard title="Gate.io" image="/icons/gateio.png" href="https://www.gate.io/trade/BZZ_USDT" />
      </List>

      <List title="All Markets $BZZ">
          <LinkCard title="CoinMarketCap" image="/icons/cmc.png" href="https://coinmarketcap.com/currencies/ethereum-swarm/" />
          <LinkCard title="CoinGecko" image="/icons/coingecko.png" href="https://www.coingecko.com/en/coins/swarm" />
      </List>

    </div>
    </main>
</Layout>
